{% extends "index.html" %}
{% block content %}
{% if session['fuelLockActive'][0] %}
    <div class="automanual" align="center"><a id="aset" href="#">Settings</a><hr></div>

      <div id="settings">
        <form class="form-inline mt-2 mt-md-0" action="/save_settings" method="POST">
            <h6 style="font-style: italic; margin-bottom: 2ch;">These settings are for the automatic fuel lock function. Proceed with caution, you will not be warned when a fuel lock is found.</h6>
            <div class="form-group">
                <label for="fueltype">Select a fuel type you wish to auto lock in and the maximum price</label><br><br>
                <select id="fueltype" name="fueltype" class="custom-select">
                  <option id="57" value="57">Special E10</option>
                  <option id="52" value="52">Special Unleaded</option>
                  <option id="55" value="55">Extra 95</option>
                  <option id="56" value="56">Supreme+ 98</option>
                  <option id="53" value="53">Special Diesel</option>
                  <option id="54" value="54">Autogas</option>

                </select><br>
                <input class="form-control mr-sm-2" type="text" placeholder="{{ session['max_price'] }}" name="max_price"><br>
                {% if session['auto_lock'] %}
                <label>  <input type="checkbox" name="auto_lockin" checked> Enable auto lock in</label><br><br>
    						{% else %}
    						<label>  <input type="checkbox" name="auto_lockin"> Enable auto lock in</label><br><br>
    						{% endif %}
                <button class="btn btn-default" name="submit" value="save_settings" type="submit" onclick="loader.style.display = 'block'">Save settings</button>
            </div>
        </form>
      </div>

    {% else %}
    <div class="automanual" align="center"><a id="aauto" href="#">Automatic</a> | <a id="aman" href="#">Manual</a> | <a id="aset" href="#">Settings</a><hr></div>
    <div id="automatic">
        <form class="form-inline mt-2 mt-md-0"  action="/lockin" method="POST">
            <div class="form-group">
                <label for="fueltype">Which fuel do you want?</label>
                <select id="fueltype" name="fueltype" class="custom-select">
                  <option id="57" value="57">Special E10</option>
                  <option id="52" value="52">Special Unleaded</option>
                  <option id="55" value="55">Extra 95</option>
                  <option id="56" value="56">Supreme+ 98</option>
                  <option id="53" value="53">Special Diesel</option>
                  <option id="54" value="54">Autogas</option>

                </select>
                <button class="btn btn-default" name="submit" value="automatic" type="submit" onclick="loader.style.display = 'block'">Lock it in!</button>
            </div>
        </form>
        <h5 id="57"> Special E10 cheapest price found was <strong class='bold_balance'>{{ session['price0'] }}</strong> at <strong class='bold_balance'>{{ session['postcode0'] }}</strong></h5>
        <h5 id="52"> Special Unleaded cheapest price found was <strong class='bold_balance'>{{ session['price1'] }}</strong> at <strong class='bold_balance'>{{ session['postcode1'] }}</strong></h5>
        <h5 id="55"> Extra 95 cheapest price found was <strong class='bold_balance'>{{ session['price2'] }}</strong> at <strong class='bold_balance'>{{ session['postcode2'] }}</strong></h5>
        <h5 id="56"> Supreme+ 98 cheapest price found was <strong class='bold_balance'>{{ session['price3'] }}</strong> at <strong class='bold_balance'>{{ session['postcode3'] }}</strong></h5>
        <h5 id="53"> Special Diesel cheapest price found was <strong class='bold_balance'>{{ session['price4'] }}</strong> at <strong class='bold_balance'>{{ session['postcode4'] }}</strong></h5>
        <h5 id="54"> Autogas cheapest price found was <strong class='bold_balance'>{{ session['price5'] }}</strong> at <strong class='bold_balance'>{{ session['postcode5'] }}</strong></h5>
    </div>
    <div id="manual">
        <form class="form-inline mt-2 mt-md-0" action="/lockin" method="POST">
            <h6 style="font-style: italic; margin-bottom: 2ch;">Note: Searching manually lets you choose a custom postcode for where you want to lock in fuel from. You will land on a confirmation page where you can decide if you want to continue locking in that price or not.</h6>
            <div class="form-group">
                <label for="fueltype">Which fuel do you want?</label>
                <select id="manualfueltype" name="fueltype" class="custom-select">
                  <option value="57">Special E10</option>
                  <option value="52">Special Unleaded</option>
                  <option value="55">Extra 95</option>
                  <option value="56">Supreme+ 98</option>
                  <option value="53">Special Diesel</option>
                  <option value="54">Autogas</option>

                </select><br>
                Postcode of the fuel: <input class="form-control mr-sm-2" type="text" placeholder="3150" name="postcode"><br><br>
                <button class="btn btn-default" name="submit" value="manual" type="submit" onclick="loader.style.display = 'block'">Lock it in!</button>
            </div>
        </form>
    </div>
    <div id="settings">
      <form class="form-inline mt-2 mt-md-0" action="/save_settings" method="POST">
          <h6 style="font-style: italic; margin-bottom: 2ch;">These settings are for the automatic fuel lock function. Proceed with caution, you will not be warned when a fuel lock is found.</h6>
          <div class="form-group">
              <label for="fueltype">What is the maximum you want to pay for Premium 98 in cents? </label><br><br>
              <input class="form-control mr-sm-2" type="text" placeholder="139.0" name="max_price"><br>
              {% if session['auto_lock'] %}
              <label>  <input type="checkbox" name="auto_lockin" checked> Enable auto lock in</label><br><br>
              {% else %}
              <label>  <input type="checkbox" name="auto_lockin"> Enable auto lock in</label><br><br>
              {% endif %}
              <button class="btn btn-default" name="submit" value="save_settings" type="submit" onclick="loader.style.display = 'block'">Save settings</button>
          </div>
      </form>
    </div>
    <div id="buttonpressed">
        <h2 align="center">Hold on tight!</h2>
        <h3 align="center">I am currently attempting to lock in your fuel price. This may take a minute or so...</h3>
    </div>

  {% endif %}
{% endblock %}
